header{
    background-color: #E7E9FC;
}
body{
    font-family: "Roboto", sans-serif;
}
.webstudio{
    font-family: "Raleway", sans-serif;
}
h1, h2 {
    font-weight: 700;
}
h3 {
    font-weight: 500;
}
p {
    font-weight: 400;
}
.section1{
    background-color: #2E2F42;
}
.section3 {
    background-color: #F4F4FD;
}

footer{
    background-color:#2E2F42
}